<div class="navbar navbar-expand fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="">Meeting Tracker</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/track']">Track Meetings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Improve Meetings</a>
      </li>
    </ul>
  </div>
</div>
<div class="vertical-spacer"></div>
<div class="vertical-spacer"></div>
<div class="vertical-spacer"></div>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
